**/.DS_Store
sources/*/*
!sources/*/src
!sources/*/gradle
!sources/*/gradlew
!sources/*/gradlew.bat
!sources/*/build.gradle
!sources/*/gradle.properties
!sources/*/settings.gradle
!sources/*/.gitignore
!sources/*/deps
!scripts/*
